---
layout: default
title: Home
---

<p>
Take 15 minutes a day to just breathe. We dare you.
</p>

<p>
<a href="http://www.urbandharma.org/udharma4/mpe.html">MINDFULNESS IN PLAIN ENGLISH</a> - A pragmatic README for mindfulness.
</p>

<p>
<a href="howto.html">How to print and use GMF materials yourself</a>, in case 
you want to help spread the breathing.
</p>


<hr/>

<p>Recent:</p>

<ul id="archive">
{% for post in site.posts limit:7 %}
{% include post.html %}
{% endfor %}
</ul>

<hr/>

<ul>

<li>All SVG files should be editable with <a href="http://inkscape.org/">Inkscape</a>.

<li>For raw copies of the git repos, go to <a href="https://github.com/gmind">github.com/gmind</a>.</li>

<li>Use pull requests to contribute, or <a href="https://github.com/gmind">message gmind on github</a> if you have feedback.</li>

</ul>

