---
layout: default
title: Home
---


<a href="">MINDFULNESS IN PLAIN ENGLISH</a> - Basically a pragmatic README for 
mindfulnes..

<hr/>


<ul id="archive">
{% for post in site.posts limit:7 %}
{% include post.html %}
{% endfor %}
</ul>

<hr/>

<ul>

<li>All SVG files should be editable with <a href="http://inkscape.org/">Inkscape</a>. It's open!</li>

<li>For raw copies of the git repos, go to <a href="https://github.com/gmind">github.com/gmind</a>.</li>

<li>Use pull requests to contribute, or <a href="https://github.com/gmind">message gmind on github</a> if you have feedback</li>

</ul>

